
# Frontend - Node.js
frontend/node_modules/
frontend/dist/
frontend/.env

# Backend - Java / IntelliJ / Maven / Gradle
backend/.idea/
backend/target/
backend/out/
backend/.gradle/
*.iml

# Frontend - Node.js
frontend/node_modules/
frontend/dist/
frontend/.env

# Backend - Java / IntelliJ / Maven / Gradle
backend/.idea/
backend/target/
backend/out/
backend/.gradle/
*.iml

# Sistema
*.log
.DS_Store


